.header{
    background-image: url('../assets/newForex1.jpeg');
    height:40rem;
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* position: absolute; */
    top: 0;
    z-index: -1;
    object-fit: cover;
}


.header_container{
    display: flex;
    flex-direction: column;
    color: white;
    padding:2rem;
    align-items: center;
    justify-content: center;
    padding-top: 18rem;
    

}

.header_container div{
    display: flex;
    flex-direction: column;
}
.header_text span:nth-child(1) {
    font-size:2rem;
    padding-bottom: 40px;
    font-weight: 600;
}

.header_text span:nth-child(3) {
    text-align: inherit;
    font-size: 20px;
    font-weight: 600;
    margin-left:25rem;
}

.btn{
    margin-top: 3rem;
}

.btn button{
    padding:1rem;
    background: #800020;
    border-radius: 2rem;
    width:13.5rem;
    height: 3.5rem;
    color:white;
    outline: none;
    float: left;
    margin-right:3rem;
    border: none;
}

.btn Link{
    text-decoration: none;
    color:white;
    
}

.btn button:hover{
    background: transparent;
    border:2px solid #800020;
    cursor: pointer;
    transition: 400ms;
}


/* https://astutealliance.ltd/images/forex-1.jpg */

/* https://www.forex.com/~/media/forex/images/global/homepage/newtrader.svg */ 
/* GET  STARTED */

/* https://www.forex.com/~/media/forex/images/global/homepage/createplan-latest.svg */
/* HAVE SOME EXPERIENCE */

/* https://www.forex.com/~/media/forex/images/global/homepage/strategies-latest.svg
want to dive deep */