.loaderPage{
    /* align-items: center;
    justify-content: center; */
    margin:17rem;
    
    
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #800020;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  