.app{
  overflow: hidden;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;

}

.wine_color{
  color:#800020;
}

.grey_color{
  color:#5a6d92;
}

.btn{
  padding:1rem;
  
}

.stroke-text{
  color:transparent;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #800020;

}